<!--<section class="property-binding">

  <article>
    <h3>Interpolation</h3>
    <p>Rendered string with interpolation: {{ url }}</p>
    <p>Result of 1 + 1 is: {{ 1 + 1 }}</p>
    <p>Result of 1 + 1 + 1 is: {{ 1 + 1 + getValor() }}</p>
    <p>Angular course and i like the course: {{ angularCourse && getLikeCourse() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ imageUrl }}" alt="kitty">
    <img [src]="imageUrl" alt="kitty">
    <img bind-src="imageUrl" alt="kitty">
  </article>

  <article>
    <h3>Class and Style Binging</h3>
    <div>
      Select a class:
      <select #class (change)="0">
        <option value="alert-success">Success</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>
      <br><br>

      <div class="alert {{ class.value }}">
        Coloured text by comobox value
      </div>

      <div class="alert" role="alert"
        [class.alert-success]="class.value == 'alert-success'">
        Success
      </div>

      <div class="alert" role="alert"
        [class.alert-info]="class.value == 'alert-info'">
        Info
      </div>

      <div class="alert" role="alert"
      [class.alert-warning]="class.value == 'alert-warning'">
        Warning
      </div>

      <div class="alert" role="alert"
      [class.alert-danger]="class.value == 'alert-danger'">
        Danger
      </div>

      <div class="alert alert-danger" role="alert"
        [style.display]="class.value == 'alert-danger' ? 'block' : 'none'">
        Only if danger
      </div>
    </div>
  </article>

  <article>
    <h3>Event Biding</h3>
    <div>
      <button (click)="clickedButton()"
      class="btn btn-primary">
        Click me!
      </button>

      <br><br>

      <input type="text"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="saveValue(fieldInput.value)"
      (blur)="saveValue(fieldInput.value)"
      #fieldInput/>

      <p>Actual Value: {{ actualValue }}</p>
      <p>Saved Value: {{ savedValue }}</p>

      <br><br>
      <span
      (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highlight]="isMouseOver"
      >
      Hover the mouse over here
      </span>
    </div>
  </article>

</section>

<app-my-form></app-my-form>-->

<section class="input-output-properties">

  <article>
    <h3>Input/Output Properties</h3>

    <app-course [name]="courseName"></app-course>
  </article>

</section>
